#reusable matrix-ci
name: Matrix Demo

on: 
  workflow_call:
    inputs:
      env:
        required: true
        type: string

jobs:
  matrix-job:
    name: matrix-job in ${{ inputs.env }}
    runs-on: ubuntu-latest
    #strategy:
    #  matrix:
    #    env: [dev, Staging, prod]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Print environment
        run: echo "Running in environment ${{ inputs.env }}"
      - name: Create log file
        run: echo "Log for ${{ inputs.env }}" > "matrix-${{ inputs.env }}.log"
      - name: Upload log
        uses: actions/upload-artifact@v4
        with:
          name: "matrix-${{ inputs.env }}-log"
          path: "matrix-${{ inputs.env }}.log"
