name: Shell CI

on: [pull_request]

jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Make scripts executable
        run: chmod +x scripts/*.sh

      - name: Run Hello Script
        run: ./scripts/hello.sh

      - name: Run tests
        run: ./scripts/test.sh

      - name: Upload test output
        uses: actions/upload-artifact@v4
        with:
          name: test-log
          path: scripts

